@model AutoClub.Models.ShopCategory;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center my-5">
    <div class="col-lg-8 layout-spacing">
        <form method="post" enctype="multipart/form-data">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-4">
                                <h4>Category</h4>
                            </div>
                        </div>
                    </div>
                    <p class="">Category Name</p>
                    <div class="input-group mb-4">
                        <input asp-for="Name" id="t-text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger mt-2 ml-5" style="width:100%;"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary btn-block mt-3">Save Change</button>
                        <br />
                        <a asp-controller="ShopCategory" asp-action="Index" class="btn btn-outline-secondary btn-block">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}