@using AutoClub.Models;
@model AppUser;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto Club</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <!-- * * * FontAwesome * * *  -->
    <script src="https://kit.fontawesome.com/d010444104.js"
            crossorigin="anonymous"></script>
    <!-- * * * Google Fonts * * * -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Sans|Titillium+Web:400,700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap"
          rel="stylesheet" />
    <!-- * * *  Owl Carousel * * * -->
    <link rel="stylesheet"
          href="~/extensions/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
          href="~/extensions/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <!-- * * * Range Slider * * * -->
    <link rel="stylesheet"
          href="~/extensions/ion.rangeSlider-master/css/ion.rangeSlider.min.css" />
    <!-- * * * Css * * * -->
    <link rel="stylesheet" href="~/css/scss/style.css" />
</head>
<body>
    <!-- * * *Start- Top Bar * * *-->
    @await Component.InvokeAsync("HeaderTopBar")
    <!-- * * *End- Top Bar * * *-->
    <!-- * * *Start- Navbar * * * -->
    @await Component.InvokeAsync("NavMain")
    <!-- * * *End- Navbar * * * -->
    <section style="padding: 80px 0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="row justify-content-center">
                        <h6 class="w-100 text-center py-1">Current Logo</h6>
                        <img src="~/image/Users/@Model.Image" width="250" />
                    </div>
                    <form method="post" enctype="multipart/form-data" class="py-3">
                        <div class="form-group">
                            <label asp-for="Photo" class="form-control-label">New Logo</label>
                            <input asp-for="Photo" class="form-control">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="form-control-label">Company Name</label>
                            <input asp-for="UserName" class="form-control">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="form-control-label">SubTitle</label>
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="form-control-label">Phone</label>
                            <input asp-for="Phone" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacebookLink" class="form-control-label">Facebook</label>
                            <input asp-for="FacebookLink" class="form-control">
                            <span asp-validation-for="FacebookLink" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstagramLink" class="form-control-label">Insdagram</label>
                            <input asp-for="InstagramLink" class="form-control">
                            <span asp-validation-for="InstagramLink" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="form-control-label">Company Location</label>
                            <input asp-for="Location" class="form-control">
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="form-control-label">Company Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary w-100 mt-5">Save changes</button>
                        </div>
                    </form>
                    <div class="col-12 p-0">
                        <a asp-controller="Account" asp-action="MyVehicle" class="btn btn-success btn-block">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- * * *Start- Footer * * * -->
    <footer id="Footer">
        <div class="container-fluid px-0">
            <div class="footet_top">
                <div class="row mx-0">
                    <div class="col-12 col-md-9 offset-md-3 px-0">
                        <ul>
                            <li>Low Prices, No Haggling</li>
                            <li>Largest Car Dealership</li>
                            <li>Multipoint Safety Check</li>
                        </ul>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("FooterMain")
            @await Component.InvokeAsync("FooterBottom")
        </div>
    </footer>
    <!-- * * *End- Footer * * * -->
    <!-- * * * Scripts * * * -->
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <!-- * * * JQuery * * * -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <!-- * * *  Owl Carousel * * * -->
    <script src="~/extensions/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

    <!-- * * * Range Slider * * * -->
    <script src="~/extensions/ion.rangeSlider-master/js/ion.rangeSlider.min.js"></script>
    <!-- * * * My Js * * * -->
    <script src="~/js/script.js"></script>
</body>
</html>
